<% include ./partials/header %>

<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
				<a href="/exams" class="navbar-brand"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
			</div>
		 <div class="collapse navbar-collapse" id="bs-nav-demo">
			<!--<ul class="nav navbar-nav">-->
			<!--	<li><a href="a">About</a></li>-->
			<!--	<li><a href="a">Contact</a></li>-->
			<!--</ul>-->
			<ul class="nav navbar-nav navbar-right">
			<%	if(!currentUser){ %>
    				<li><a href="/register">Sing Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
    				<li><a href="/login">Log In <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
    			<%	}else{ %>
    				<li><a href="/logout">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
			  <% } %>
			</ul>
		</div>
			</div>
	</nav>  

<div class="ui main text container segment">
    <div class="ui huge header"><%= resource.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= resource.image %>" >
            
            <div class="description">
                <p><%- resource.body %></p>
                <p>Additional Links :<a href="<%= resource.link%>"> <%= resource.link%></a></p>
                <h9>Posted By:<%= resource.author.username %></h9>
            </div>
            <a class="ui orange basic button" href="/exams/<%= resource._id %>/edit">Edit</a>
            <form id="delete" action="/exams/<%= resource._id %>?_method=DELETE" method="POST">
                
                <button class="ui red basic button">Delete</button>
                <h9>(you can EDIT and DELETE only if you are owner of the POST)</h9>
            </form>
            <a class="btn btn-xs btn-info" href="/exams">Back To Home</a>
        </div>
    </div>
    
</div>
<% include ./partials/footer %>

